@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FFFFFF; /* Màu nền trang */
  --foreground: #F5F5F5; /* Màu nền phụ */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--text-primary)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  font-family: var(--font-lexend);
}